// Colores
$primary-color: #64E2B7; // Aquamarine
$secondary-color: #DC8BE0; // Lila
$text-dark: #333;
$text-light: #f4f4f4;
$bg-light: #e2daae;
$bg-dark: #D50B8B;
$shadow-light: rgba(47, 10, 48, 0.1);

// Otros
$border-radius: 8px;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
